:root {
  --primary: #FFFEF9;
  --secondary: #252013;
  --action: #E26D00;
  --table1: #E2E0D1;
  --table2: #F1F1ED;
  --danger: #E20000;
  --success: #00E217;
}

[data-theme='dark'] {
  --primary: #252013;
  --secondary: #FFFEF9;
  --action: #FFF7AE;
  --table1: #171308;
  --table2: #313029;
  --danger: #FFAFAF;
  --success: #AEFFB6;
}

body {
  background: var(--primary);
  color: var(--secondary);
  overflow-X: hidden;
  //transition: background-color 0.3s linear;
  font-family: Gotham, serif;
}

table {
  width: 100%;
    border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 768px) {
    .table--noMobile768 {
      display: none;
    }
    @media (max-width: 450px) {
      .table--noMobile450 {
        display: none;
      }
    }
  }

  .table__color {
    &--1 {
      background-color: var(--table1);
    }
    &--2 {
      background-color: var(--table2);
    }
  }
  thead, tbody {
    tr {
      th, td {
        gap: 1rem;
        padding: 1rem;
        text-align: left;

        div {
          display: flex;
          gap: 1.25rem;
        }
      }
    }
  }
}

.group__column {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &--labelmini {
    font-size: 14px;
  }
}

.svg {
  stroke: var(--secondary);
}

.svg--reverse path {
  stroke: var(--primary) !important;
}

.svg--fill {
  fill: var(--secondary);
}

.svg--fill--reverse {
  fill: var(--primary);
}

.svg--rotate--90 {
  transform: rotate(90deg);
}

.svg--rotate--180 {
  transform: rotate(180deg);
}

.svg--rotate--270 {
  transform: rotate(270deg);
}

.svg--rotate--n90 {
  transform: rotate(-90deg);
}

.svg--rotate--n180 {
  transform: rotate(-180deg);
}

.svg--rotate--n270 {
  transform: rotate(-270deg);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*background-color: rgba(18, 21, 37, 0.3);*/
  z-index: 1;
}

.alert {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 20px;
  background-color: var(--danger);
  color: var(--primary);
  margin-bottom: 15px;
  border-radius: 10px;
  width: 90%;
  animation: slideDown 0.25s cubic-bezier(0.5, 0, 0.1, 1) forwards;
    z-index: 1000;

  @media (min-width: 768px) {
    top: 100%;
    left: 1.25rem;
    transform: none;
    width: 300px;
    animation: slideUp 0.25s cubic-bezier(0.5, 0, 0.1, 1) forwards;
  }
  .svg {
    stroke: var(--primary);
  }
}

@keyframes slideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 1.25rem;
  }
}

@keyframes slideUp {
    0% {
        top: 100%;
    }
    100% {
        top: 85%;
    }
}



h1, h2, h3, h4 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.smallLink {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.strong {
  font-weight: 900;
}