:root {
  --primary: #FFFEF9;
  --secondary: #252013;
  --action: #E26D00;
  --table1: #E2E0D1;
  --table2: #F1F1ED;
  --danger: #E20000;
  --success: #00E217;
}

[data-theme='dark'] {
  --primary: #252013;
  --secondary: #FFFEF9;
  --action: #FFF7AE;
  --table1: #171308;
  --table2: #313029;
  --danger: #FFAFAF;
  --success: #AEFFB6;
}

body {
  background: var(--primary);
  color: var(--secondary);
  overflow-X: hidden;
  //transition: background-color 0.3s linear;
  font-family: Gotham, serif;
}

.svg {
  stroke: var(--secondary);
}
.svg--reverse path{
  stroke: var(--primary)!important;
}
.svg--fill {
  fill: var(--secondary);
}
.svg--fill--reverse {
  fill: var(--primary);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.smallLink {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}