.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    width: 100%;
    overflow: hidden;

    &__content {
      padding: 0.5rem 1rem;
      border: 1px solid var(--secondary);
      border-radius: 0.5rem;
      font-size: 1rem;
      color: var(--color-text);
      background-color: var(--primary);
      width: 100%;
      overflow: hidden;
      &__password, &__select {
        padding-right: 3.5rem;

        &__button {
          position: absolute;
          display: flex;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 3.5rem;
          box-shadow: -2px 0px 5px 0px var(--secondary-50);
          .svg {
            transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
          }
        }
      }
    }

    &__color {
      &:valid {
        border: 1px solid var(--success);
      }

      &:invalid {
        border: 1px solid var(--danger);
      }

      &:placeholder-shown {
        border: 1px solid var(--secondary);
      }
    }
  }

  &__options {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background: var(--primary);
    border: 1px solid var(--secondary);
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;

    li {
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.2s ease background;
      -moz-transition: 0.2s ease background;
      -webkit-transition: 0.2s ease background;

      &:hover {
        background: var(--secondary);
        color: var(--primary);
      }
    }

    &--visible {
      display: flex;
    }
  }
}