.group {
  position: relative;
  width: 100%;

  .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--secondary);
    display: inline;

    &:focus {
      outline: none;
    }

    &:focus ~ label, &:not(:placeholder-shown) ~ label {
      top: -20px;
      font-size: 14px;
    }

    &:focus ~ .bar:before, &:focus ~ .bar:after {
      width: 50%;
    }
  }

  label {
    color: var(--secondary);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease top, 0.2s ease font-size;
    -moz-transition: 0.2s ease top, 0.2s ease font-size;
    -webkit-transition: 0.2s ease top, 0.2s ease font-size;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      background: var(--secondary);
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .color {
    &:valid {
      border-bottom: 1px solid var(--success);
    }

    &:valid ~ label {;
      color: var(--success);
    }

    &:valid ~ .bar:after, &:valid ~ .bar:before {
      background: var(--success);
    }

    &:invalid {
      border-bottom: 1px solid var(--danger);
    }

    &:invalid ~ label {
      color: var(--danger);
    }

    &:invalid ~ .bar:after, &:invalid ~ .bar:before {
      background: var(--danger);
    }

    &:placeholder-shown {
      border-bottom: 1px solid var(--secondary);
    }

    &:placeholder-shown ~ label {
      color: var(--secondary);
    }

    &:placeholder-shown ~ .bar:before, &:placeholder-shown ~ .bar:after {
      background: var(--secondary);
    }
  }
}

.group__password {
  .input {
    padding-right: 2rem;
  }

  &__show {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}